*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    overflow: auto;

}

nav {
    position: fixed;
    border: none;
    width: 100%;
    z-index: 9000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #fff;
    top: 0;  
}

.nav-bar {
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    z-index: 9000;
    cursor: pointer;
    background-color: #fff;
    top: 0;  
}

ul {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15%;  
}

a {
    text-decoration: none;
    color: #141414;
}

a:hover {

    text-decoration: none;
    color: #A7A7A7;

}

li,
ul {
    
    list-style: none;
}

li {
    margin: 35px 0px auto 20px;
    z-index: 9500;
    padding: 0 0 20px;
}

li:hover {
    color: #A7A7A7;
    z-index: 9500;
}

nav img {   
    margin-left: 15%;
    float: left;
    cursor: pointer;
    display: block;
} 

/*Contact Form*/

.box {
    display: grid;
}

.box1 #message {
    background: #F6F6F6;
    margin-top: 40px;
    height: 180px;
    width: 545px;
    border-radius: 0;
    border: none;
    outline: none;
    margin-right: 20%;
}

.box1 #message:focus {
    background: #EBF1B0;
    margin-top: 40px;
    height: 180px;
    width: 545px;
    border-radius: 0;
    border: none;
    box-shadow: #808080 0.3;
    outline: none;
    box-shadow: 0 7px 15px rgb(128, 128, 128, 0.3);
}

.box1 input {
    padding: 20px;
    margin: 12px;
}

.box1 #name {
    background: #F6F6F6;
    width: 545px;
    border-radius: 0;
    border: none;
    outline: none;
}

.box1 #name:focus {

    background: #EBF1B0;
    width: 545px;
    border-radius: 0;
    border: none;
    outline: none;
    box-shadow: 0 7px 15px rgb(128, 128, 128, 0.3);

}

.box1 #button {

    border: none;
    border-radius: 23px;
    height: 50px;
    width: 100px;
    margin: 20px 12px;
    padding: 0;
    background: #808080;
    font-family: 'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    color: #F6F6F6;
    box-shadow: 0 7px 15px rgb(128, 128, 128, 0.3);

}
.box1 #button:hover {

    border: none;
    border-radius: 23px;
    height: 50px;
    width: 100px;
    margin: 20px 12px;
    padding: 0;
    background: #747474;
    font-family: 'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    color: #F6F6F6;
    box-shadow: 0 7px 15px rgb(128, 128, 128, 0.3);

}

.section {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5em;
    margin-top: 140px;
    padding: 60px 15% 60px 20%;
    width: 100%;
    margin-bottom:0;
    opacity: 1;
    filter: alpha(opacity=50);
    background: #fff;
}

#address {
    margin-right: 0;
}

h1 {
    color: #fff;
    font-family: 'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    opacity: 1;
    font-size: 1.8rem;
}

p {
    color: grey;
    font-family: 'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    opacity: none;
    font-size: 1.2rem;
    font-weight: bold;

}

footer {
    position:absolute;
    background-color: #141414;
    display: flex;
    /* display: grid; */
    /* text-align: center; */
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 30px;
    bottom: 0;
    

}
.foot {
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-content: baseline;
    flex-direction: row;
    width: 100%;
    bottom:0;
}

.socials {
    margin-right: 15%;
}

.fa {
    /* float: right; */
    margin-top: auto;
    padding: 6px;
    border-radius: 50%;
    font-size: 30px;
    background: #565656;
    color: #565656;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}


.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #565656;
	color: #141414;
	animation: growth 1.3s ease infinite alternate;
}

.fa-twitter {
    background: #565656;
	color: #141414;
	animation: growth 1.4s ease infinite alternate;
}

.fa-linkedin {
    background: #565656;
	color: #141414;
	animation: growth 1.5s ease infinite alternate;
	
}

@keyframes growth {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.7)
    }
}


#copyright {
    margin-top:auto;
    color: #808080;
    font-size: 16px;
    font-weight: 400px;
    cursor: pointer;
    margin-left: 15%;
}

#copyright:hover {
    font-family: 'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    color: lightgray;
    font-size: 16px;
}








@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1024px)
  
  and (-webkit-min-device-pixel-ratio: 1) {
    
        html, body{
            overflow-y: hidden;
            margin:0;
            padding:0;
        }

        
    .hamburger {
        margin: auto;
        position: absolute;
        right: 40px;
        top: 40px;
        z-index: 99;
        /* animation: grow2 2.4s ease infinite alternate; */
        /* float:right; */
    }


        .line {
            width: 50px;
            height:3px;
            background: #000;
            margin: 12px;
        }


        nav img {
            display: none;
        } 


        /*Nav animae*/

        nav {
            padding: 0;
            margin: 0;
            padding: 10px;
            height: 160px;
            z-index: 98;  
        }
    
        .navbar {
            position: relative;
            padding: 0;
            margin: 0;
            padding: 10px;
        }
    
        .nav-links {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            background: #ffffff;  
            text-align: center;
            flex-direction: column-reverse;
            height:100vh;
            width: 100vw;
            clip-path: circle(100px at 90% -25%);
            -webkit-clip-path:circle(100px at 90% -25%);
            transition: all 1s ease-out;
            pointer-events: none;
            z-index: 98;
        
        }
    
        .nav-links.open {
            clip-path: circle(2750px at 90% -15%);
            -webkit-clip-path:circle(2750px at 90% -15%);
            pointer-events: all;
           
        }
    
        .nav-links li {
            opacity: 0;
        }
    
        .nav-links li a {
            font-size: 40px;
        }
    
        .nav-links li:nth-child(1){
            transition: all 0.5s ease 0.2s;
        }
        .nav-links li:nth-child(2){
            transition: all 0.5s ease 0.4s;
        }
        .nav-links li:nth-child(3){
            transition: all 0.5s ease 0.6s;
        }
    
        li.fade {
            opacity: 1;
        }
        
        li {
            transition: all 1s ease-in-out;
            margin-bottom: 100px;
        }
        /* li:hover{
            transform: scale(1.2); 
            
        } */


        a {

            text-decoration: none;
            color: #141414;

        }

        a:hover {

            text-decoration: none;
            color: #A7A7A7;

        }

        li,
        ul {
            
            list-style: none;
        }

        li:hover {
            color: #A7A7A7;
            z-index: 9500;
        } 



        #address {
            text-align: inherit;
            margin-bottom: 100px;
            margin-top: 150px;
        }

        .section {
            display: flex;
            flex-direction: column;
            margin-left: 140px;
            max-width: 375px;
            width: 100%;
            padding: 0px;
            opacity: 1;
            filter: alpha(opacity=50);
            background: #fff;
          
        } 

        p {
            margin:0;
            font-size: 34px;
            align-self: center;
        }

        /*Contact Form*/

        .box1 {
            display: flex;
            flex-direction: column;
            margin-bottom: 380px;    
        }

        ::placeholder {
            font-size: 35px;
        }

        .box1 #message {
            background: #F6F6F6;
            margin-top: 40px;
            height: 360px;
            font-size: 30px;
            width: 700px;
            border-radius: 0;
            border: none;
            outline: none;
            overflow: hidden;
        }

        .box1 #message:focus {
            background: #EBF1B0;
            margin-top: 40px;
            height: 360px;
            font-size: 30px;
            width: 700px;
            border-radius: 0;
            border: none;
            box-shadow: #808080 0.3;
            outline: none;
            box-shadow: 0 7px 15px rgb(128, 128, 128, 0.3);
        }

        .box1 input {
            padding: 20px;
            margin: 12px;
        }

        .box1 #name {
            background: #F6F6F6;
            font-size: 30px;
            width: 700px;
            border-radius: 0;
            border: none;
            outline: none;
        }

        .box1 #name:focus {
            background: #EBF1B0;
            width: 700px;
            border-radius: 0;
            border: none;
            outline: none;
            box-shadow: 0 7px 15px rgb(128, 128, 128, 0.3);
        }

        .box1 #button {
            border: none;
            border-radius: 23px;
            height: 100px;
            width: 200px;
            margin: 20px 12px;
            padding: 0;
            background: #808080;
            font-size: 30px;
            font-family: 'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
            color: #F6F6F6;
        }

        .box1 #button:hover {

            border: none;
            border-radius: 23px;
            height: 100px;
            width: 200px;
            margin: 20px 12px;
            padding: 0;
            background: #747474;
            font-size: 30px;
            font-family: 'Poppins', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
            color: #F6F6F6;
            box-shadow: 0 7px 15px rgb(128, 128, 128, 0.3);
        
        }
        /*Form end */



        footer {
            position:absolute;
            background-color: #141414;
            width: 100%;
            height: 10%;
            margin: 0;
            padding: 60px 0;
            bottom: 0;
        }

        .foot {
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            bottom: 0;
        }

        .socials {
            display: flex;
        }
        

        .fa {

            margin-top: auto;
            padding: 20px;
            border-radius: 50%;
            font-size: 60px;
            background: #565656;
            color: #565656;
            width: 60px;
            height: 60px;
            text-align: center;
            text-decoration: none;
            margin: 5px;
        }


        .fa:hover {
            opacity: 0.7;
        }

        .fa-facebook {
            background: #565656;
            color: #141414;
        }

        .fa-twitter {
            background: #565656;
            color: #141414;
        }

        .fa-linkedin {
            background: #565656;
            color: #141414;
        }

        #copyright {
            margin-top:auto;
            color: #808080;
            font-size: 30px;
            font-weight: 400px;
            cursor: pointer;
        }

        #copyright:hover {
            color: lightgray;
            font-size: 26px;
            text-align: center;
        }
}


